/* form styling for the alignment/stacking for the user's garment input form on account.html */
form div {
    margin-bottom: 10px;
  }

  label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
  }

  input[type="text"],
  select {
    width: 200px;
    display: block;
  }

  input[type="radio"] {
    display: inline-block;
    width: auto;
  }

  div {
    text-align: left;
    font-weight: bold;
    font-family: serif;
    font-size: 16px;
  }
/* image styling */
  .outfit-image {
    width: 50%; 
    height: 50%; 
    border: solid 1px black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    float: right;
   

  }



.weather-icon {
  width: 30%;
  height: 30%;
}

body {
  background-color: #E9E9E9;
}

.navbar {
  background-color: #88BBD6;
}

/* buttons on homepage for home and work zip codes */
.tablinks {
  background-color: #CDCDCD;
}

.tablinks:active {
  outline-color: #FFFF1C;
}