<!-- this page will be the landing page for if a user is new and needs to create an account
they will input their email, password, user_name, and zip (must have a home zip, can add work zip or other zip)
and will generate an autoincrementing user_id
this will be stored in the database whatToWear

upon successful completion the user will then route to their user-profile-page and will not see this page again
 -->

 <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>
            {% block title %}Create New Account Page{% endblock %}
        </title>
        {% block head %}{% endblock %}

    </head>

    <body>
        <form>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <br>
            <label for="user_name">User Name:</label>
            <input type="text" id="user_name" name="user_name" required>
            <br>
            <br>
            <label for="zip_home">Enter Home Zipcode (must be 5 digits):</label>
            <input type="zip_home" id="zip_home" name="zip_home" required>
            <br>
            <br>
            <label for="zip_work">Enter Work Zipcode (optional):</label>
            <input type="zip_work" id="zip_work" name="zip_work">
            <br>
            <br>
            <label for="zip_other">Enter Another Zipcode (optional):</label>
            <input type="zip_other" id="zip_other" name="zip_other">

            <button onclick="validate()">Login</button>
        </form>
        <br>
        <!-- deal with this later when it makes sense -->
        <!-- <a href="fixpassword">Go here to create a new password</a> -->
        {%block after_body%}

        <script>
            function validate(){
//  need help with creating a validation function to check user input against database
            }
        </script>
        {%endblock%}

    </body>
</html>