
{% extends 'base.html' %}
{% block title %}Create New User Account{% endblock %}

{% block content %}
<!-- This form allows a new user to create an account -->
<!-- Start of the create-new-user form -->
<div class="container">
  <h2 class="text-center">Create Your New User Account</h2>
  <!-- Form starts -->
  <form action = '/users' method="POST">
    <!-- Email input -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
    </div>
    <!-- Username input -->
    <div class="form-group">
      <label for="username">Username:</label>
      <input name='username' type="text" class="form-control" id="username" placeholder="Enter username" required>
    </div>
    
    <!-- Create Password field -->
  <div class="form-group">
    <label for="password">Create Password:</label>
    <input name='password' type="password" class="form-control" id="password" placeholder="Create password" required>
  </div>

    <!-- Home zip input -->
    <div class="form-group">
      <label for="homeZip">Home Zip:</label>
      <input name='homeZip' type="text" class="form-control" id="homeZip" placeholder="Enter home zip" required>
    </div>
    <!-- Work zip input -->
    <div class="form-group">
      <label for="workZip">Work Zip:</label>
      <input name='workZip' type="text" class="form-control" id="workZip" placeholder="Enter work zip">
    </div>
    <!-- Other saved zips input -->
    <div class="form-group">
      <label for="otherZips">Other Saved Zip:</label>
      <input name='otherZips' type="text" class="form-control" id="otherZips" placeholder="Enter other saved zip">
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Create Account</button>
  </form>
  <!-- End of the form -->
</div>
<!-- End of the container -->






{% endblock %}