{% extends 'base.html' %}

{% block title %}Welcome to your homepage!{% endblock %}

{% block content %}

<!-- <p>These are our results: {{result}}</p> -->
<h1>Hello, {{user.user_name}}!</h1>
<br>

<!-- Create a container for the tab buttons -->
<div class="tab">
  <button class="tablinks" id="homeTab">Home</button>
  <button class="tablinks" id="workTab">Work</button>
  <!-- <button class="tablinks" id="otherTab">Other</button> -->
</div>

<!-- Create a container for the tab content -->
<div id="tabContent" class="tabcontent">
  <h3 id="zipCode"></h3>
  <p id="temperature"></p>

<!-- TODO I want to add in some logic here where if it is raining or snowing they are informed otherwise it remains blank -->

<!-- insert api forecast data here -->
<h3>Today's forecast for your zip:  </h3>
<p>The temp is: {{result.temperature}}</p>


<h3>Your Outfit Suggestion:</h3><br>
<!-- make a jinja forloop loop through result.garments and display -->
<ul>
  <p>You may want to wear:</p>
  {% for key, value in result.garments.items() %}
    <li>{{ value }}</li>
  {% endfor %}
</ul>

{% endblock %}
