{% extends 'base.html' %}

{% block title %}Welcome to your homepage!{% endblock %}

{% block content %}

<!-- <p>These are our results: {{result}}</p> -->
<h1>Hello, {{user.user_name}}!</h1>

<!-- allow user to navigate to their user account -->
<!-- <ul>
    <li><a href='/account'> User Account</a></li>
</ul> -->
<br>
<!-- <ul>your home and work location's expected forecast for the day <br>
    including high and low temps, and precipitation predictions</ul><br> -->
<!-- insert api forcast data here -->
<h3>Today's forecast for your zip:  </h3>
<p>The temp is: {{result.temperature}}</p>
<!-- TODO I want to add in some logic here where if it is raining or snowing they are informed otherwise it remains blank -->


<h3>Your Outfit Suggestion:</h3><br>
<!-- make a jinja forloop (look up syntax) loop through result.garments and display -->
<ul>
  <p>You may want to wear:</p>
  {% for key, value in result.garments.items() %}
    <li>{{ value }}</li>
  {% endfor %}
</ul>

  <!-- // make some mock data, like tits above, and that drives conditions
  // the conditions are if/elses that are determine what to wear based on mock data
  // you need to think about the data structure to use for showing random clothing shit
  // see white board for some basic shit/ideas -->


<!-- <ul>your favorite outfits</ul><br> -->
<!--fave outfits will be 3.0+ -->

<!-- <ul>You may even be able to load up pictures of your actual wardrobe <br>
    and have those display to you as a suggested outfit</ul><br> -->
<!-- post course work maybe -->
<!-- <ul> I can even bet that you will be able to hire a personal stylist and buy clothing items</ul><br> -->
<!-- post course work maybe -->
<!-- <ul> And heck, maybe there will be some content for you to read.</ul><br> -->
<!-- <ul> But we'll see. We shall see...</ul> -->
{% endblock %}
