
{% extends 'base.html' %}

{% block title %}Welcome to your homepage!{% endblock %}

{% block content %}
<!-- images -->

<!-- added a container for the tab buttons and a container for the tab content. 
    The tab buttons each have an event listener that calls the getWeatherData function 
    for the corresponding zip code, and then calls the openTab function to display the content
    for that zip code. The openTab function hides all elements with the class-->
<div class="container">
  <div class="row">
  <div class="col-6">
<!-- greet the user -->
<h1>Hello {{user.user_name}}!</h1>

<!-- Create a container for the tab buttons -->
  <div class="tab">
    <button class="tablinks" id="homeTab">Home</button>
    <button class="tablinks" id="workTab">Work</button>
    <!-- <button class="tablinks" id="otherTab">Other</button> -->
  </div>
  
  <!-- Create a container for the tab content (work and home zip buttons) -->
  <div id="tabContent" class="tabcontent">
    <h3 id="zipCode"></h3>

      <div class="row-10">
        <span id="temperature" class="col-6"></span>
          <img src="static/images/icon-freezing-snow.png" class='weather-icon col-6'>
      </div>

    <h4>Your Outfit Suggestion:</h4><br>
    <ul id="garments">
    </ul>

  </div>
  <!-- loading image use as default / space holder -->
  <!-- <section id="loading">
      <img src="static/images/wait-1.1s-200px.svg"> 
  </section> -->

  
</div>
<div class="col-6">
  <section id="weather-outfit">
  </section>
</div>
  <script>
    //THIS FUNCTION DOES NOT APPEAR TO BE WORKING/NEEDED
    // function displayWeatherData(zipCode, temperature, garments) {
    //   //alert('hey!!!!!!!!!!!')
    //   document.querySelector('#zipCode').innerHTML = `Today's forecast for your ${zipCode}:`;
    //   document.querySelector('#temperature').innerHTML = `The temp is: ${temperature}`;
    //   //update outfit image 
    //   document.querySelector('#weather-outfit img')
    //           .setAttribute('src', '')
    //   //update weather icon image
    //   document.querySelector('#weather-icon img')
    //           .setAttribute('src', '')        
    //   //need another querySelector to put in the images
    //   // .querySelector('#shark-img img')
    //   //     .setAttribute('src', `/static/images/guess${numWrong}.png`);

    //   let garmentList = "";
    //   for (const garment of garments) {
    //     garmentList += `<li>${garment}</li>`;
    //   }
    //   document.querySelector('#garments').innerHTML = garmentList;
    // }

    //add getweatherdata to airbnb application. put this on to the homepage and make the homepage work
//   create a function that allows the user to toggle between work and home zip code weather data and corresponding outfits
    
    function getWeatherData(zipCode) {
      /*create a function that allows the user to toggle between work and home zip codes without reloading 
       by using AJAX to display weather data and corresponding outfits. 
       Weather data is gathered using an API call.*/
  
      displayWeatherData(zipCode, responseData.temperature, responseData.garments);
    }
  
    // Add event listeners to the tab buttons to display the weather data for the home zip code
    
    document.querySelector('#homeTab').addEventListener('click', function() { 
        fetch('/outfit/zip_home')
            .then(response => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.querySelector('#temperature').innerHTML=`Today's Temp: ${data.temperature}`
                const outfitDisplay = document.querySelector('#garments')
                //disallowing children from multiplying with multiple button presses
                outfitDisplay.innerHTML = ''

                for (const garment in data.garments) {
                    outfitDisplay.insertAdjacentHTML("beforeend",`<li>${data.garments[garment]}</li>`);
                } 
                // make the images appear along with the button click
                const outfitImgDisplay = document.querySelector("#weather-outfit")
                const weatherIconDisplay = document.querySelector("#icon")

                //disallowing children from multiplying the images (doesn't work with 'empty strings')
                let element = document.getElementById("weather-outfit");
                while (element.firstChild) {
                  element.removeChild(element.firstChild);
                }

                outfitImgDisplay.insertAdjacentHTML("beforeend", `<img class="outfit-img" src=${data.outfit_image}>`);
                weatherIconDisplay.insertAdjacentHTML("beforeend", `<img src=${icon}>`);

            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    
    });
    // Make an AJAX call to get the weather data for the work zip codes
    document.querySelector('#workTab').addEventListener('click', function() {
        fetch('/outfit/zip_work')
            .then(response => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                document.querySelector('#temperature').innerHTML=`Today's Temp: ${data.temperature}`
                const outfitDisplay = document.querySelector('#garments')
                //disallowing children from multiplying with multiple button presses
                outfitDisplay.innerHTML = ''

                for (const garment in data.garments) {
                    outfitDisplay.insertAdjacentHTML("beforeend",`<li>${data.garments[garment]}</li>`);
                } 
                const outfitImgDisplay = document.querySelector("#weather-outfit")
                const weatherIconDisplay = document.querySelector("#icon")
                //disallowing children from multiplying the images (doesn't work with 'empty strings')
                let element = document.getElementById("weather-outfit");
                while (element.firstChild) {
                  element.removeChild(element.firstChild);
                }

                outfitImgDisplay.insertAdjacentHTML("beforeend", `<img class="outfit-img" src=${data.outfit_image}>`);
                weatherIconDisplay.insertAdjacentHTML("beforeend", `<img src=${icon}>`);
                
                
              })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
                //TODO do the same above but display if there is rain or snowing conditions

    
    });
    
  </script>
</div>
</div>
  {% endblock %}