{% extends 'base.html' %}
{% block title %}Login To User Account{% endblock %}

{% block content %}
<!-- This form allows a user to login or get notified that they aren't a user yet, or change a password -->
<!-- Start of the login form -->
<div class="container">
    <h2 class="text-center">Login</h2>
    <!-- Form starts: upon successfully matching user inputted login credentials, route to homepage -->
    <form action = '/homepage' method="POST">
      <!-- Email input -->
      <div class="form-group">
        <label for="email">Email:</label>
        <input name="email" type="email" class="form-control" id="email" placeholder="Enter email" required>
      </div>
       <!-- Password input -->
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input name='password' type="password" class="form-control" id="Password" placeholder="Enter password" required>
      </div>
      <!-- Submit button -->
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <!-- End of the form -->
    <p>Need to make an account? <a href="/create-new-account">Click here</a>.</p>
  </div>
  <!-- End of the container -->
  
        {%endblock%}

    </body>
</html>



